body {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #000000;
  z-index: 10;
}

header section {
  max-width: 81.25rem;
  margin: auto;
  padding: 1.25rem;
  background: #ffd800;
}

@media (max-width: 1515px) {
  header section {
    max-width: 100%;
  }
}

header section .logo {
  transform: translateX(-5.438rem);
}

header section a {
  float: right;
  padding: 0.2rem 0;
}

* {
  outline: none;
}

.heroButton {
  color: #000000;
  background-color: #ffbe4b;
  border-color: #ffbe4b;
  border-radius: 1.5rem;
  padding: 0.7rem 1.7rem;
  text-decoration: none;
  transition: all 0.05s ease;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: cursor;
  width: 14rem;
}

.heroButton:hover {
  color: #fff;
  background-color: #ff9f0a;
  border-color: #ff9f0a;
  text-decoration: none;
}

.wrapper {
  max-width: 84rem;
  box-sizing: border-box;
  padding: 0 1.25rem;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 0.3rem;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: hidden;
}

.slide {
  height: calc(100vh - 75px);
  background-size: cover;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("https://freepngimg.com/thumb/arrow/5-2-arrow-transparent.png")
    no-repeat center center / 2.2rem;
  width: 2rem;
  height: 2rem;
  text-indent: -624rem;
  cursor: pointer;
  mix-blend-mode: screen;
}

.previousButton:hover,
.nextButton:hover {
  background: url("https://freepngimg.com/thumb/arrow/5-2-arrow-transparent.png")
    no-repeat center center / 2.5rem;
  mix-blend-mode: screen;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: -0.625rem;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  right: -0.625rem;
}

.slider-content {
  text-align: center;
  background-position: cover;
}

.slider-content .inner {
  padding: 0 4.375rem;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.slider-content .inner h1 {
  font-size: 9.375rem;
  margin: 0 auto;
  max-width: 52.5rem;
  color: #ffffff;
  line-height: 1;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
}

.slider-content .inner p {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1;
  margin: 1.25rem auto 1.9rem;
  max-width: 640px;
}

.slider-content section {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
}

.slider-content section span {
  color: #ffffff;
}

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 0.625rem;
}

.slider-content section img {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.slider-content section span strong {
  color: #ffffff;
  font-size: 0.875rem;
  display: block;
}

@media (max-height: 500px) {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 4em;
  }
  .slider-content .inner p {
    font-size: 22px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 4em;
  }
  .slider-content .inner p {
    font-size: 1.4rem;
  }
}
.slide h1 {
  opacity: 0;
}

.slide button {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide p {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide section * {
  transition: all 0.3s ease;
}

.slide section img {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
}

.slide section span {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}

.slide section span strong {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous button,
.slide.current button,
.slide.animateIn.next button,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p,
.slide.animateIn.previous section *,
.slide.current section *,
.slide.animateIn.next section * {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  opacity: 1;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.slide.animateIn.previous button,
.slide.animateIn.next button {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.slide.animateIn.previous section img,
.slide.animateIn.next section img {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.slide.animateIn.previous section span,
.slide.animateIn.next section span {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.slide.animateIn.previous section span strong,
.slide.animateIn.next section span strong {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.slide.animateOut h1 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.slide.animateOut p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.slide.animateOut section span {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.slide.animateOut section span strong {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
