.cardBlogTitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
  color: #353535;
}

.blogAuthorName {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #fea60b;
}

.blogAuthorText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.75);
}

.blogCardDate {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #474849;
}

.blogCardPage {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.blogCardPage:hover {
  text-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in;
  transform: translateY(-10px);
  transition: all 500ms ease;
  z-index: 2;
}
