.footer {
  background-color: #ffbe4b;
  font-family: Inter;
  height: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerText {
  color: #000000;
  text-align: center;
  padding: 0.5rem;
}
