.homePage {
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.recentBlogs {
  color: #ffa60c;
  display: inline;
  font-weight: 700;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 4rem;
  border-bottom: 0.2rem solid #ffa60c;
}

button.blogsButton {
  color: #000000;
  background-color: #ffbe4b;
  border: solid #ffbe4b;
  border-radius: 1.5rem;
  padding: 0.7rem 1.7rem;
}

button.blogsButton:hover {
  color: #fff;
  background-color: #ff9f0a;
  border-color: #ff9f0a;
}
.recentBlogsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
